.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  width: 100%;
  height: 70px;
  background-color: #4c89e3;
  color: white;
}


header strong:hover{
  color:#DDD;
  cursor: pointer;
  transition: all 0.8s;

}

.post{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  background-color: white;
  border-width: 1px;
  border-radius: 7px;
  margin: 8px;
  padding: 10px;
}


.titulo{
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  color: black;
}

.subtitulo{
  margin: 5px;
}


.botao{
  height: 40px;
  background: none;
  border-radius: 5px;
  border: 2px solid #4c89e3;
  color: #4c89e3;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5;
  margin: 10px;
}

.botao:hover{
background: #4c89e3;
color: white;
}